{extend name="/public/layout"/}

{block name="css"}
<link href="index_public/frontend/banner/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="index_public/frontend/time-line/css/jquery.eeyellow.Timeline.css" />
{/block}



{block name="main"}


<!---->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="VivaTimeline">
                    <dl>
                        <dt>May 2016</dt>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">Feb 03</div>
                            <div class="events">
                                <div class="events-header">Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            生命是一场变幻莫测的剧场，我们在剧场里演绎着爱恨情仇，颠簸的心灵守望一段花期，等待花开花落，结出满心的硕果。在一段功名利禄里抖落了青春和年华，才明了云烟浩瀚里真正的懂得和获取。曾经品尝过失败的滋味，苦辣酸甜涌上心头，泪水就那般畅流，努力就努力过，不在乎结果。

                                            走在自己的道路上，想着自己的心事，做着自己的努力，不在乎他人的目光，我就是我，笑对生活百态，淡望岁月沧桑，在颠簸岁月间搏过，羡慕过，也悲伤过，却最终发现，我还是喜爱那个不完美却努力的我，不奢华，不艳羡，就那般于淡然间开放，仿如路边的小雌菊，不经意间，演绎着自己的清丽.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            生命是一场变幻莫测的剧场，我们在剧场里演绎着爱恨情仇，颠簸的心灵守望一段花期，等待花开花落，结出满心的硕果。在一段功名利禄里抖落了青春和年华，才明了云烟浩瀚里真正的懂得和获取。曾经品尝过失败的滋味，苦辣酸甜涌上心头，泪水就那般畅流，努力就努力过，不在乎结果。

                                            走在自己的道路上，想着自己的心事，做着自己的努力，不在乎他人的目光，我就是我，笑对生活百态，淡望岁月沧桑，在颠簸岁月间搏过，羡慕过，也悲伤过，却最终发现，我还是喜爱那个不完美却努力的我，不奢华，不艳羡，就那般于淡然间开放，仿如路边的小雌菊，不经意间，演绎着自己的清丽。.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题，走在自己的道路上，想着自己的心事，做着自己的努力，不在乎他人的目光，我就是我，笑对生活百态，淡望岁月沧桑，在颠簸岁月间搏过，羡慕过，也悲伤过，却最终发现，我还是喜爱那个不完美却努力的我，不奢华，不艳羡，就那般于淡然间开放，仿如路边的小雌菊，不经意间，演绎着自己的清丽..
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">
                                    123
                                </div>
                            </div>
                        </dd>
                        <dt>Feb 2016</dt>
                        <dd class="pos-right clearfix">
                            <div class="circ"></div>
                            <div class="time">Jan 21</div>
                            <div class="events">
                                <div class="events-header">A Very Very Looooooooooooooooooooong Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">

                                </div>
                            </div>
                        </dd>
                        <dd class="pos-left clearfix">
                            <div class="circ"></div>
                            <div class="time">Jan 07</div>
                            <div class="events">
                                <div class="events-header">A Very Very Looooooooooooooooooooong Event Heading</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df470d90b.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            年少时只觉得青春是一场梦，不曾料想多年以后，听到某一首歌，唱的正是我们的遇见；看了某一部电影，竟和我们的经历一样；走在某个陌生的街角，看到一对小吵小闹的情侣，仿佛我们这般有爱。爱情总是突如其来的咋到，我们又总是不知所措的小心翼翼地爱着对方。或许，我们都还不完全懂得如何爱一个人，但我愿意和你携手一起与岁月讨论这个问题。.
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">

                                </div>
                            </div>
                        </dd>
                        <dt>Jan 2016</dt>
                        <dt>Dec 2015</dt>
                        <dt>Oct 2015</dt>
                        <dt>Sep 2015</dt>
                        <dt>Aug 2015</dt>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}


{block name="js"}
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="base_public/baidu/bdMap.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script type="text/javascript" src="index_public/frontend/time-line/js/jquery.eeyellow.Timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });

</script>
{/block}