{extend name="/public/layout"/}

{block name="css"}
<link rel="stylesheet" type="text/css" href="index_public/frontend/plugin/css/jq22.css" />
<link rel="stylesheet" type="text/css" href="index_public/frontend/plugin/css/style1.css" />
{/block}



{block name="main"}
<!-- header -->
<div class="banner">
    <ul class="cb-slideshow" style="cursor: pointer">
        {volist name="banner" id="ba"}
        <li ><span style="cursor: pointer;background-image: url({$ba['image_url']})"></span><div><h3></h3></div></li>
        {/volist}
    </ul>

</div>
<!---->
<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <h3>从前慢</h3>
            <h4>从前的日色变得慢，车、马、邮件都慢，一生只爱一个人</h4>
            <p> 从前的锁也很好看，钥匙精美有样子。</p>
        </div>
    </div>
</div>
<!---->
<div class="content">
    <div class="container">
        <div class="col-md-8 content-left">
            <div class="information">
                <h4>博主推荐</h4>
                <div class="information_grids">
                    <div class="info">
                        <p>{if !empty($topOne)}"{:mb_substr($topOne[0]['content'],0,45,'utf-8')}......"{/if}</p>
                        <a href="about.html">点击阅读</a>
                    </div>
                    <div class="info-pic">
                        <img src="{$topOne[0]['image_url']}" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="games-grids" >
                <div class="game-grid-left">
                    <div class="grid1">
                        <h5 class="act"><a>{$travels[0]['author']}|{$travels[0]['article_type']}</a></h5>
                        <a href="{:url('article/detail',['id'=>$travels[0]['id']])}"><img style="width: 357px;height: 201px" src="{$travels[0]['image_url']}" class="img-responsive" alt=""></a>
                        <div class="grid1-info">
                            <h4><a href="{:url('article/detail',['id'=>$travels[0]['id']])}">{$travels[0]['title']}</a></h4>
                            <p>{:mb_substr($travels[0]['content'],0,60,'utf-8')}.</p>
                        </div>
                        <div class="more">
                            <a href="{:url('article/detail',['id'=>$travels[0]['id']])}">点击阅读</a>
                        </div>
                    </div>
                    <div class="grid2">
                        <h5 class="race"><a>{$travels[1]['author']}|{$travels[1]['article_type']}</a></h5>
                        <a href="{:url('article/detail',['id'=>$travels[1]['id']])}"><img style="width: 357px;height: 444px" src="{$travels[1]['image_url']}" class="img-responsive" alt=""></a>
                        <div class="grid1-info">
                            <h4><a href="{:url('article/detail',['id'=>$travels[1]['id']])}">{$travels[1]['title']}</a></h4>
                            <p>{:mb_substr($travels[1]['content'],0,60,'utf-8')}.</p>
                        </div>
                        <div class="more">
                            <a href="{:url('article/detail',['id'=>$travels[1]['id']])}">点击阅读</a>
                        </div>
                    </div>
                </div>


                <div class="game-grid-right">
                    <div class="grid3">
                        <h5 class="sport"><a>{$prose[0]['author']}|{$prose[0]['article_type']}</a></h5>
                        <a href="{:url('article/detail',['id'=>$prose[0]['id']])}"><img style="width: 356px;height: 444px" src="{$prose[0]['image_url']}" class="img-responsive" alt=""></a>
                        <div class="grid1-info">
                            <h4><a href="{:url('article/detail',['id'=>$prose[0]['id']])}">{$prose[0]['title']}</a></h4>
                            <p>{:mb_substr($prose[0]['content'],0,60,'utf-8')}.</p>
                        </div>
                        <div class="more">
                            <a href="{:url('article/detail',['id'=>$prose[0]['id']])}">点击阅读</a>
                        </div>
                    </div>
                    <div class="grid4">
                        <h5 class="arc"><a>{$prose[1]['author']}|{$prose[1]['article_type']}</a></h5>
                        <a href="{:url('article/detail',['id'=>$prose[1]['id']])}"><img style="width: 357px;height: 201px" src="{$prose[1]['image_url']}" class="img-responsive" alt=""></a>
                        <div class="grid1-info">
                            <h4><a href="{:url('article/detail',['id'=>$prose[1]['id']])}">{$prose[1]['title']}</a></h4>
                            <p>{:mb_substr($prose[1]['content'],0,60,'utf-8')}.</p>
                        </div>
                        <div class="more">
                            <a href="{:url('article/detail',['id'=>$prose[1]['id']])}">点击阅读</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" ></a></div>
        <div class="col-md-4 content-right">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav2" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最近发表</a></li>
                <li role="presentation" ><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">最近拍摄</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active re-pad2" id="home">
                    {volist name="topThree" id="to"}
                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="{:url('article/detail',['id'=>$to['id']])}"><img src="{$to['image_url']}" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="{:url('article/detail',['id'=>$to['id']])}">{:mb_substr($to['title'],0,8,'utf-8')}</a></h4>
                            <p>{:mb_substr($to['content'],0,24,'utf-8')}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {/volist}

                </div>
                <div role="tabpanel" class="tab-pane re-pad2" id="profile">
                    {volist name="$image" id="ima"}
                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="{$ima['image_url']}" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">董小姐</a></h4>
                            <p>作者: <a href="#">董小姐</a> &nbsp;&nbsp; {:date('Y-m-d',$ima['create_time'])} &nbsp;&nbsp; <a href="#">评论 (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    {/volist}
                </div>
            </div>
            <!---->
            <div class="category blog-ctgry">
                <h4>文章列表</h4>
                <div class="list-group">
                    {volist name="articles" id="ar"}
                    <a href="{:url('article/detail',['id'=>$ar['id']])}" class="list-group-item">{$ar['title']}</a>
                    {/volist}
                </div>
            </div>
            <div class="photo-gallery">
                <h4>照片墙</h4>
                {for start="0" end="4" name="var"}
                <div class="gallery-1">
                   {if !empty($gallery[$var])}
                    {volist name="gallery[$var]" id="im"}
                    <div class="col-md-4 gallery-grid-pic">
                        <a class="example-image-link" href="{$im['image_url']}" data-lightbox="example-set"><img class="example-image" src="{$im['image_url']}" alt=""/></a>
                    </div>
                    {/volist}
                    {/if}
                    <div class="clearfix"></div>
                </div>
                {/for}
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
{/block}


{block name="js"}
<script src="index_public/frontend/banner/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript" src="index_public/frontend/plugin/js/modernizr.custom.86080.js"></script>
{/block}