{extend name="/public/layout"/}


{block name="css"}
<link rel="stylesheet" href="index_public/css/mine/article-detail.css">
<link rel="stylesheet" href="index_public/comment/css/sinaFaceAndEffec.css">
<link rel="stylesheet" href="index_public/comment/css/main.css">
{/block}

{block name="main"}

<div class="content" style="background-color: #EEEEEE">


    <div class="container" style=" background-color: white;padding-bottom: 50px">

        <div class="col-md-8 content-left" >
            <div  class="col-lg-12" style=";text-align: left;margin-top: 20px"><h2>{$article['title']}</h2></div>
            <br>
            <div  class="col-lg-12" style="height: 39px;line-height: 39px;text-align: left;margin: 20px 0 ;">
                <p class="auth-span">
                    <span class="muted"><i class="glyphicon glyphicon-user"></i> <a href="#" style="color: #00a67c">{$article['author']}</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="muted"><i class="glyphicon glyphicon-time"></i>{:date('Y-m-d H:i:s',$article['create_time'])}</span>&nbsp;&nbsp;&nbsp;&nbsp;	<span class="muted"><i class="glyphicon glyphicon-eye-open"></i> 26℃</span>&nbsp;&nbsp;&nbsp;&nbsp;	<span class="muted"><i class="glyphicon glyphicon-pencil"></i> <a style="color: #00a67c" href="#">2评论</a></span><span class="muted">
</span></p>
            </div>
            <div class="games-grids" id="contents"  style="height: 800px;width: 100%;overflow: hidden">
                {$article['html_content']}
            </div>
            <div style="width: 100%;margin-bottom: 10px">
                <button style="width: 100%" class="layui-btn layui-btn-primary loadMore">加载</button>
                <br>
            </div>
            <div id="content" style="width: 100%; height: auto;">
                <div class="wrap">
                    <div class="comment">
                        <div class="comt-title">

                            <div class="comt-avatar pull-left" style="margin-top: 50px;margin-bottom: 20px;vertical-align: middle">
                                <img style="height: 30px;width: 30px;" alt="" src="index_public/comment/images/user.png" class="avatar avatar-54 photo avatar-default" height="54" width="54">
                            &nbsp;发表我的评论
                            </div>
                        </div>
                        <div class="content">
                            <div class="cont-box">
                                <textarea class="text" placeholder="请输入..."></textarea>
                            </div>
                            <div class="tools-box">
                                <div class="operator-box-btn"><span class="face-icon"  >☺</span><span class="img-icon">▧</span></div>
                                <div class="submit-btn"><input type="button" onClick="out()"value="提交评论" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="info-show">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"></a></div>
        <div class="col-md-4 content-right" style="margin-top: 70px">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav2" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">最近发表</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active re-pad2" id="home">
                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="{:url('article/detail',['id'=>$topThree[0]['id']])}"><img src="{$topThree[0]['image_url']}" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="{:url('article/detail',['id'=>$topThree[0]['id']])}">{$topThree[0]['title']}</a></h4>
                            <p>{:mb_substr($topThree[0]['content'],0,25,'utf-8')}......</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="{:url('article/detail',['id'=>$topThree[1]['id']])}"><img src="{$topThree[1]['image_url']}" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="{:url('article/detail',['id'=>$topThree[1]['id']])}">{$topThree[1]['title']}</a></h4>
                            <p>{:mb_substr($topThree[1]['content'],0,25,'utf-8')}......</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="{:url('article/detail',['id'=>$topThree[2]['id']])}"><img src="{$topThree[2]['image_url']}" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="{:url('article/detail',['id'=>$topThree[2]['id']])}">{$topThree[2]['title']}</a></h4>
                            <p>{:mb_substr($topThree[2]['content'],0,25,'utf-8')}......</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane re-pad2" id="profile">
                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="http://on58ea572.bkt.clouddn.com/2017-05-27_5928e7ef6aa4d.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="http://on58ea572.bkt.clouddn.com/2017-05-27_5928e7ef26095.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">董小姐</a></h4>
                            <p>作者: <a href="#">董小姐</a> &nbsp;&nbsp; 2017-05-27 &nbsp;&nbsp; <a href="#">评论 (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="http://on58ea572.bkt.clouddn.com/2017-05-27_5928e7eeb7c86.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">董小姐</a></h4>
                            <p>作者: <a href="#">董小姐</a> &nbsp;&nbsp; 2017-05-27 &nbsp;&nbsp; <a href="#">评论 (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>

            </div>
            <!---->
            <div class="category blog-ctgry">
                <h4>文章列表</h4>
                <div class="list-group">
                    {volist name="topThree" id="top"}
                    <a href="{:url('article/detail',['id'=>$top.id])}" class="list-group-item">{$top.title}</a>
                   {/volist}
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</div>
{/block}

{block name="js"}
<script src="index_public/js/mine/load-more.js"></script>
<script type="text/javascript" src="index_public/comment/js/main.js"></script>
<script type="text/javascript" src="index_public/comment/js/sinaFaceAndEffec.js"></script>
<script type="text/javascript">
    // 绑定表情
    $('.face-icon').SinaEmotion($('.text'));
    // 测试本地解析
    function out() {
        var inputText = $('.text').val();
        $('#info-show ul').append(reply(AnalyticEmotion(inputText)));
    }

    var html;
    function reply(content){
        html  = '<li>';
        html += '<div class="head-face">';
        html += '<img src="index_public/comment/images/user.png" / >';
        html += '</div>';
        html += '<div class="reply-cont">';
        html += '<p class="username">匿名用户</p>';
        html += '<p class="comment-body">'+content+'</p>';
        html += '<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>';
        html += '</div>';
        html += '</li>';
        return html;
    }
</script>
{/block}