{extend name="/public/layout"/}


{block name="css"}
<link rel="icon" href="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df45ebf64.jpg">
<link href="index_public/css/mine/article-list.css" type="text/css" rel="stylesheet"/>
<link href="index_public/css/mine/article-list-1.css" type="text/css" rel="stylesheet"/>
<link href="base_public/layer/css/layui.css" rel="stylesheet">

{/block}

{block name="main"}

<div class="content" style="background: url('index_public/images/bg/bg-1.jpg')">
    <div class="container" style=" background-color: white;padding: 0">
        <div class="main">
            <div class="col-md-12">
                <div class="row">
                    <div class="speedbar">
                        <div class="toptip"><strong class="text-success"><i class="glyphicon glyphicon-volume-up"></i> </strong> </div>
                    </div>
                    <div class="content-wrap">
                        <div class="content" id="content">
                            {volist name = "articles" id="ar"}
                            <article class="excerpt">
                                <header><a  class="label label-important" href="#">{$ar['article_type']}<i class="label-arrow"></i></a><h2><a id="title" style="color: #00a67c;text-decoration: none;" target="_blank" href="{:url('article/detail',['id'=>$ar['id']])}" title="{$ar['title']}">{$ar['title']}  </a></h2>
                                </header>
                                <div class="focus"><a target="_blank" href="{:url('article/detail',['id'=>$ar.id])}"><img style="width: 200px;height: 123px;" class="thumb" src="{$ar['image_url']}" alt="{$ar['title']}"></a></div>
                                <span class="note">
                                    {:mb_substr($ar['content'],0,100,'UTF-8')}......
                                </span>
                                <p class="auth-span">
                                    <span class="muted"><i class="glyphicon glyphicon-user"></i> <a href="#">{$ar.author}</a></span>
                                    <span class="muted"><i class="glyphicon glyphicon-time"></i>{:date('Y-m-d H:i:s',$ar['create_time'])}</span>	<span class="muted"><i class="glyphicon glyphicon-eye-open"></i> 26℃</span>	<span class="muted"><i class="glyphicon glyphicon-pencil"></i> <a href="#">2评论</a></span><span class="muted">
<a href="javascript:;" data-action="ding" data-id="91" id="Addlike" class="action"><i class="glyphicon glyphicon-heart"></i><span class="count">{$ar['click']}</span>喜欢</a></span></p>
                            </article>
                            {/volist}
                        </div>

                    </div>

                </div>
            </div>
            <input type="hidden" name="pages" value="{$pages}">

        </div>
        <div id="demo" style="float: right"></div>

    </div>
</div>
{/block}

{block name="js"}
<script src="index_public/js/mine/pagination-article.js"></script>
<script src="base_public/layer/layui.js"></script>
<script src="base_public/layer/laypage.js"></script>
{/block}