{extend name="/public/layout"/}


{block name="css"}
<link rel="icon" href="http://on58ea572.bkt.clouddn.com/2017-05-26_5927df45ebf64.jpg">
<link href="index_public/css/mine/image-index.css" type="text/css" rel="stylesheet"/>


{/block}

{block name="main"}

<div class="content">
    <div class="container">
        <div class="main">
            <div id="imageFlow">
                <div class="top">
                </div>
                <div class="bank">
                    <a rel="index_public/images/album/1.jpg" title="Myselves" href="#">
                        My identity lies in not knowing who I am</a>
                    <a rel="index_public/images/album/2.jpg" title="Discoveries" href="#">
                        ...are made by not following instructions</a>
                    <a rel="index_public/images/album/3.jpg" title="Nothing" href="#">
                        ...can come between us</a>
                    <a rel="index_public/images/album/4.jpg" title="New life" href="#">
                        Here you come!</a>
                    <a rel="index_public/images/album/5.jpg" title="Optimists" href="#">
                        They don&#39;t know all the facts yet</a>
                    <a rel="index_public/images/album/6.jpg" title="Empathy" href="#">
                        Emotional intimacy</a>
                    <a rel="index_public/images/album/7.jpg" title="Much work" href="#">
                        ...remains to be done before we can announce our total failure to make any
                        progress</a>
                    <a rel="index_public/images/album/8.jpg" title="System error" href="#">
                        Errare Programma Est</a>
                    <a rel="index_public/images/album/9.jpg" title="Nonexistance" href="#">
                        There&#39;s no such thing</a>
                    <a rel="index_public/images/album/10.jpg" title="Inside" href="#">
                        I抦 now trapped, without hope of escape or rescue</a>
                    <a rel="index_public/images/album/11.jpg" title="E-Slaves" href="#">
                        The World is flat</a>
                    <a rel="index_public/images/album/12.jpg" title="l0v3" href="#">
                        1 l0v3 j00 - f0r3v3r</a>
                    <a rel="index_public/images/album/13.jpg" title="T minus zero" href="#">
                        111 111 111 x 111 111 111 = 12345678987654321</a>
                    <a rel="index_public/images/album/14.jpg" title="The End" href="#">
                        ...has not been written yet</a> </div>
                <div class="text">
                    <div class="title">
                        Loading</div>
                    <div class="legend">
                        Please wait...</div>
                </div>
                <div class="scrollbar">
                    <img class="track" src="index_public/images/album/track.jpg" alt=""  >
                    <img class="arrow-left" src="index_public/images/album/sign_out.png" alt="" style="cursor: pointer">
                    <img class="arrow-right" src="index_public/images/album/sign_in.png" alt="" style="cursor: pointer">
                    <img class="bar" src="index_public/images/album/bar.jpg" alt="" style="cursor: pointer"> </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="index_public/js/mine/image-index.js"></script>
{/block}