{extend name="public/layout"/}


{block name="css"}
<link rel="stylesheet" href="admin_public/css/mine/mine.css">
{/block}



{block name="main"}
    <div class="content container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-title">Multiple File Upload <small>Multiple upload sample</small></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="widget">
                    <div class="widget-header"> <i class="icon-external-link"></i>
                        <h3> 图片添加 </h3>
                    </div>
                    <div class="widget-content">



                        <div class="panel-body">
                            <div class="alert alert-info">
                                <i class="icon-info-sign"></i> 脸色苍白的伙伴
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                            <p style="margin-bottom: 10px">第二天上学，我但心坐地虎阿龙会对我们实施报复，<br><br>但我的担心是多余的了，他没来找我们碴；<br><br>在走廊上擦肩而过，他都不敢抬眼来瞪我们；<br><br>操场上远远望见我们，他都宁愿绕个大圈避开。他害怕了，尽管他长和像头小公牛。我体会到，正义必然战胜邪恶。<br><br>
                                我不让史潜文替我背书包了。我坦白地告诉他，我只能砸断中间有裂纹的红砖，而且必须戴手套，他笑了，说他连有裂纹的红砖也砸不断。这倒是真话。<br><br>君子协定，每天下午放学后，史潜文帮我和张福庆补习数学，累了，我们就在操场上踢足球玩。我们班那些好汉当面笑我倒过来做了史潜文的伙伴。<br><br>我没生气，也没反驳。我觉得这种伙伴关系很无聊，没意思。史潜文说得对，我们是好同学、好朋友.</p>

                            <br>
                            <!-- The file upload form used as target for the file upload widget -->
                                <!-- Redirect browsers with JavaScript disabled to the origin page -->

                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                <div class="row fileupload-buttonbar">
                                    <div class="col-lg-7">
                                        <div class="btn-toolbar">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn btn-success fileinput-button" style="position: relative">
                                        <i class="icon-plus"></i>
                                        <span>开始上传</span>
                                                <div id="shangChuan">
                                        <input type="file" name="files" id="file_upload" multiple="" style="opacity: 0;position: absolute;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer">
                                                </div>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <!-- The table listing the files available for upload/download -->
                                <table role="presentation" class="table table-striped">
                                    <tbody class="files"></tbody>
                                </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
<div class="progress progress-striped active" id="progress" style="display: none">
    <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 45%">
        <span class="sr-only" style="border: 1px solid red">4Complete</span>
    </div>
</div>
{/block}



{block name="js"}
<script src="admin_public/js/jquery.html5upload.js"></script>
<script src="admin_public/js/mine/mine.js"></script>
{/block}