{extend name="/public/layout"/}


{block name="css"}
<link rel="stylesheet" href="index_public/css/mine/video-index.css">

{/block}

{block name="main"}

<div class="content" style="background: url('index_public/images/bg/bg-3.jpg')">
    <div class="container">
        <div class="main">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-4 video">
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>

                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                    <div class="col-lg-4 video" >
                        <a target="_blank" href="http://on58ea572.bkt.clouddn.com/video.mp4"> <video  style="height: 100%;width: 100%" src="http://on58ea572.bkt.clouddn.com/video.mp4"></video></a>
                        <img src="index_public/images/bg/video-play.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script src="index_public/js/mine/video-index.js"></script>
{/block}